<div class="container-fluid" style="margin-top: 56px;">
    <div class="container">
        <div class="row p-0 pt-3 pb-3 p-md-5">

            <div class="col-12">


                <div *ngFor="let item of extraviadosDatos | keyvalue" class="card mb-3 shadow">
                    <div class="card-header bg-primary text-left text-light">
                        folio: {{item.key}}
                    </div>

                    <div class="card-body">
                        
                        
                        <div class="card mb-3">
                            <div class="card-body">
                                <p>
                                    <b class="text-primary">Datos del extraviado</b><br>
                                    Nombre: {{ item.value.nombre2 }}<br>
                                    Sexo: {{ item.value.email }}<br>
                                    Fecha de nacimiento: {{ item.value.email }}<br>
                                    Fecha de extravío: {{ item.value.email }}<br>
                                    Se le vió por última vez en: {{ item.value.direccion1 }}
                                    
                                    <br><br>
                                    {{ item.value.descripcion }}
                                </p>
                            </div>
                        </div>


                        <div class="row mb-3">
                            <div *ngFor="let foto of item.value.archivosArray" class="col-6 col-md-3">
                                <img src="{{ foto.url }}" alt="" class="w-100 img-thumbnail shadow" height="100px;">
                            </div>
                        </div>


                        <div class="card mb-3">
                            <div class="card-body">
                                <p>
                                    <b class="text-primary">Datos de la persona que reporta</b>
                                </p>
                                
                                <p>
                                    Nombre: {{ item.value.nombre }}<br>
                                    Teléfonos: {{ item.value.telefonos }}<br>
                                    email: {{ item.value.email }}
                                </p>


                                <p>
                                    <button (click)="eliminarItem(item)" class="btn btn-danger">
                                        Eliminar
                                    </button>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        
        </div>
    </div>
</div>




<!-- 
coordenadas: {lat: 19.54417414105902, lng: -99.03692405424803}
-->