<div class="container-fluid" style="margin-top: 56px;">
    <div class="container">
        <div class="row p-0 pt-3 pb-3 p-md-5">

            <div class="col-12">


                <div *ngFor="let item of extraviadosDatos | keyvalue" class="card mb-3 shadow">
                    <div class="card-header bg-primary text-left text-light">
                        folio: {{item.key}}
                    </div>

                    <div class="card-body">
                        
                        
                        <div class="card mb-3">
                            <div class="card-body">
                                <p>
                                    <b class="text-primary">Datos del tramite</b><br>
                                    Nombre: {{ item.value.nombreCompleto }}<br>
                                    Dirección: {{ item.value.calleNumero }}<br>
                                    Colonia: {{ item.value.colonia }}<br>
                                    C.P.: {{ item.value.codigoPostal }}<br>
                                    Teléfonos: {{ item.value.telefono }}<br>
                                    e-mail: {{ item.value.correo }}<br>
                                    Descripción: {{ item.value.mensaje }}
                                </p>
                            </div>
                        </div>


                        <div class="row mb-3">
                            <div *ngFor="let foto of item.value.archivosArray" class="col-6 col-md-3">
                                <img src="{{ foto.url }}" alt="" class="w-100 img-thumbnail shadow" height="100px;">
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        
        </div>
    </div>
</div>




<!-- 
coordenadas: {lat: 19.54417414105902, lng: -99.03692405424803}
-->