<div class="row">
    <div class="col-12">

        <div class="alert alert-secondary" role="alert">
            <div *ngFor="let archivo of archivosLista" class="mb-3">
                <div *ngIf="archivo.datos">
                        <mat-icon *ngIf='archivo.tipo=="image/jpeg" || archivo.tipo=="image/gif" || archivo.tipo=="image/png"'>insert_photo</mat-icon>
                        <a href="{{ archivo.url }}" target="_blank"><b>{{ archivo.nombre }}</b> ({{ archivo.size }})Kb </a>
                </div>
        
                <mat-progress-bar mode="determinate" color="accent" value="{{ archivo.progreso }}" *ngIf="archivo.barraProgreso" class="p-1 d-block w-100"></mat-progress-bar>
            </div>
        
            <div>
                <input hidden type="file" (change)="adjuntarArchivo($event)" #archivoInput/>
                <button mat-raised-button type="button" color="accent" (click)="archivoInput.click()" class="d-block w-100">
                    <mat-icon matSuffix>attach_file</mat-icon>
                    Cargar nuevo archivo
                </button>
            </div>
        </div>    

    </div>
</div>